.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative; 
    left: -150px; 
}

.header-nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.header-nav ul li:first-child {
    margin-left: 0;
}

.header-nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.header-nav ul li a:hover {
    color: blue;
}

body {
    margin: 0;
}

.title {
    background-color: #bd9c6c;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    color: #f1f1f1;
    font-size: 25px;
}

.card {
    align-content: center;
    background-color: #f1f1f1;
    padding: 30px;
    margin-top: 20px;
    margin: 50px 30px 50px 30px;
    display: inline-block;
    width: 300px;
    vertical-align: baseline;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2); 
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container1 {
    padding: 2px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

b {
    color:#bd9c6c;
    text-align: center;
    text-decoration: none;
}

b:hover {
    color: blue;
}

.footer-area {
    background-color: #252350;
    padding: 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h4 {
    color: #f1f1f1;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section a {
    color: #252350;
}

.footer-section a:hover {
    text-decoration: none;
}
